---
import Skill from './skill.astro';
---

<section class="sm:mb-14 space-y-6 lg:space-y-10">
  <h3 class="font-extrabold text-2xl md:text-5xl uppercase text-center">
    Skills
  </h3>
  <div class="grid grid-cols-2 gap-3 md:gap-8 lg:grid-cols-5 lg:gap-4">
    <Skill title="React" icon="cib:react" />
    <Skill title="Vue" icon="cib:vue-js" />
    <Skill title="Node" icon="fa-brands:node-js" />
    <Skill title="Typescript" icon="cib:typescript" />
    <Skill title="Next.js" icon="cib:next-js" />
    <Skill title="Google Cloud" icon="cib:google-cloud" />
    <Skill title="AWS Cloud" icon="cib:amazon-aws" />
    <Skill title="Azure Cloud" icon="mdi:microsoft-azure" />
    <Skill title="Terraform" icon="cib:terraform" />
    <Skill title="Docker" icon="simple-icons:docker" />
    <Skill title="PostgreSQL" icon="simple-icons:postgresql" />
    <Skill title="MongoDB" icon="simple-icons:mongodb" />
    <Skill title="GraphQL" icon="cib:graphql" />
    <Skill title="Tailwind" icon="simple-icons:tailwindcss" />
    <Skill title="Git" icon="cib:git" />
  </div>
</section>