---
import CertCard from "./cards/CertCard.astro";

---

<section class="my-14 space-y-10">
	<h3 class="font-bold text-3xl tracking-tight">Achievements</h3>
	<div class="grid md:grid-cols-2 gap-4 md:gap-8">
		<CertCard title="Google Cloud Digital Leader" body="July 22, 2021"
			href="https://www.credential.net/6bbc8f00-5bc3-4df8-bd66-45eeff071192" />
		<CertCard title="Google Cloud Professional Developer" body="August 5, 2021"
			href="https://www.credential.net/13179881-bbf2-4d7e-ad6c-7078ab170f5d" />
	</div>
</section>