<div class="flex flex-col max-w-4xl w-full mx-auto px-4 pt-16 lg:px-6">
  <div class="pb-10 pt-5 text-center flex flex-col space-y-2">
    <p class="text-sm lg:text-lg text-slate-500 uppercase font-semibold">
      Built with
      <a href="https://astro.build" class="font-bold text-primary-accent">Astro</a>
      <span> - by Glenn Francis.</span>
    </p>
  </div>
</div>