<div class="flex flex-col max-w-4xl mx-auto px-4 lg:px-6">
  <div class="py-14 text-center flex flex-col space-y-2">
    <p class="text-sm text-gray-500">Built with
      <a href="https://astro.build" class="font-bold tracking-tighter">astro</a>
      <span> - by Glenn Francis.</span>
    </p>
    <a href="https://github.com/gmf001/glennfrancis.dev" target="_blank"
      class="text-pink-600 font-bold tracking-tighter hover:underline text-xs uppercase">
      Clone this repo
    </a>
  </div>
</div>