---
import { Icon } from 'astro-icon';
---

<header class="max-w-4xl mx-auto py-4 px-4 lg:px-6">
	<nav class="flex h-16 items-center justify-between">
		<div class="font-extrabold text-xl lg:text-2xl">glennfrancis</div>

		<div class="flex items-center space-x-3">
			<a href="https://www.linkedin.com/in/glenn-francis/" target="_blank"
				class="border font-extrabold border-gray-600 rounded-full p-3 text-xs flex flex-col items-center justify-center transition-colors duration-200 ease-in-out hover:border-pink-600 text-gray-600 hover:text-pink-600">
				<span class="sr-only">linkedin</span>
				<Icon name="icomoon-free:linkedin2" class="h-4 w-4" />
			</a>
			<a href="https://github.com/gmf001" target="_blank"
				class="border font-extrabold border-gray-600 rounded-full p-3 text-xs flex flex-col items-center justify-center transition-colors duration-200 ease-in-out hover:border-pink-600 text-gray-600 hover:text-pink-600">
				<span class="sr-only">github</span>
				<Icon name="charm:github" class="h-4 w-4" />
			</a>
		</div>
	</nav>
</header>