<section class="py-14 my-14 space-y-10">
	<h2 class="font-extrabold text-5xl tracking-tight">Hey there 👋</h2>

	<div class="space-y-4 flex flex-col">
		<p class="text-3xl font-light text-gray-700">
			I'm a full-stack developer from
			<span class="font-medium tracking-tight">Brisbane, Australia</span>
		</p>
		<p class="text-3xl font-light text-gray-700">
			Currently working @
			<span class="font-medium tracking-tight">AlphaBrink</span>
		</p>
	</div>
</section>