<section class="py-14 my-14 space-y-10">
	<h2 class="font-extrabold text-5xl tracking-tight">Hey there 👋</h2>
	<div class="space-y-4 flex flex-col">
		<p class="text-3xl font-medium text-gray-300">
			I'm a full-stack developer from Brisbane, Australia
		</p>
		<p class="text-3xl font-medium text-gray-300">
			Currently working @ AlphaBrink
		</p>
	</div>
</section>