---
import ProjectCard from "./cards/ProjectCard.astro";
import socialdash from "/socialdash.png"
import covid from '/covid.png'
import mockshot from '/mockshot.png'
import tradetracker from '/tradetracker.png'
---

<section class="my-14 space-y-10">
	<h2 class="font-bold text-3xl tracking-tight">Projects</h2>
	<div class="grid md:grid-cols-2 gap-4 md:gap-8">
		<ProjectCard image={socialdash} title='Social Dashboard' body="Track your social platform analytics"
			href="https://socialdash.glennfrancis.dev" tags={["next", "tailwind" , "prisma" , "mongodb" ]} />
		<ProjectCard image={covid} title="Covid Dashboard" body="Track current covid cases in Australia"
			href="https://covid.glennfrancis.dev" tags={["vue", "windicss" ]} />
		<ProjectCard image={mockshot} title="Mockshot" body="Generate professional browser mockups"
			href="https://mockshot.glennfrancis.dev" tags={["next", "tailwind" , "puppeteer" ]} />
		<ProjectCard image={tradetracker} title="Trade Tracker" body="A better way to track your stock portfolio"
			href="https://tradetracker.glennfrancis.dev" tags={["next", "tailwind" , "prisma" , "mysql" ]} />
	</div>
</section>