---
import ProjectCard from "./cards/ProjectCard.astro";
import sdScreenshot from "../../public/sd-screenshot.png"
import covidScreenshot from '../../public/covid-screenshot.png'
---

<section class="my-14 space-y-10">
	<h2 class="font-bold text-3xl tracking-tight">Projects</h2>
	<div class="grid md:grid-cols-2 gap-4 md:gap-8">
		<ProjectCard title="Social Dashboard" body="Track your social platform analytics"
			href="https://socialdash.glennfrancis.dev" image={sdScreenshot} />
		<ProjectCard image={covidScreenshot} title="Covid Dashboard" body="Track current covid cases in Australia"
			href="https://covid.glennfrancis.dev" />
	</div>
</section>