---
import SkillCard from "./cards/SkillCard.astro";

---

<section class="my-14 space-y-10">
  <h3 class="font-bold text-3xl tracking-tight">Skills</h3>
  <div class="grid md:grid-cols-2 gap-4 md:gap-8 lg:grid-cols-5 lg:gap-4">
    <SkillCard title="Typescript" icon="cib:typescript" />
    <SkillCard title="React" icon="cib:react" />
    <SkillCard title="Vue" icon="cib:vue-js" />
    <SkillCard title="Node" icon="fa-brands:node-js" />
    <SkillCard title="Firebase" icon="cib:firebase" />
    <SkillCard title="GraphQL" icon="cib:graphql" />
    <SkillCard title="Serverless" icon="file-icons:serverless" />
    <SkillCard title="SQL" icon="carbon:sql" />
    <SkillCard title="Next.js" icon="file-icons:nextjs" />
    <SkillCard title="Go" icon="cib:go" />
  </div>
</section>